.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.clearfix::after {
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.clearfix {
  *zoom: 1;
}

@function vw($px) {
  @return $px/750*100vw;
}

// ---------- custom -------------
body {
  font: 14px/1.5 -apple-system, "PingFang SC", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  background: #f5f5f5;
  color: #222;
}

a {
  color: #222;
}